.mainheader__text
  .mainheader__text__groupname
    = @group.name
  .mainheader__text__member
  - @group.users.each do |user|
    = user.name
.mainheader__edit
  = link_to edit_group_path(@group) do
    Edit
