.main
  .mainheader
    .mainheader__text
      .mainheader__text__groupname
        group name
      .mainheader__text__member
        Member
    .mainheader__edit
      Edit
  .maincontents
    .maincontents__toptext
      .maincontents__toptext__left
        shouya
      .maincontents__toptext__right
        2019/10/08/19:14:30
    .maincontents__bottomtext
      this is a first message
  .messageform
    %input.text{name: "message_form", placeholder: "type a message", type: "message", class: "messageform__input"}/
    %label{class: "messageform__image"}
      %i.fa.fa-image
      %input{type: "file", class: "messageform__image__file"}
    = link_to "#" do
      %input.submit{:name => "message_send", :placeholder => "send", :type => "submit", :class => "messageform__submit"}/
