.main
  .mainheader
    .mainheader__text
      .mainheader__text__groupname
        group name
      .mainheader__text__member
        Member
    .mainheader__edit
      Edit
  .maincontents
    .maincontents__toptext
      .maincontents__toptext__left
        shouya
      .maincontents__toptext__right
        2019/10/08/19:14:30
    .maincontents__bottomtext
      this is a first message

