.sideheader
  .sideheader__name
    NAME
    = link_to "#" do
      %i.fa.fa-edit
      %span<>
    = link_to "#" do
      %i.fa.fa-cog
.sidecontents
  .sidecontents__text
    sample
    Good bye work