.sidebar
  .sideheader
    .sideheader__name
      = current_user.name
    .sideheader__name__btn
      = link_to new_group_path do
        %i.fa.fa-edit
        %span<>
      = link_to "#" do
        %i.fa.fa-cog
  .sidecontents
    .sidecontents__name
      test
    .sidecontents__text
      まだメッセージはありません

