.main{
  width: calc(100vw - 340px);
  padding: 0;
}
.mainheader{
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
  border-bottom: solid 1px #eeeeee;
  &__text{
    margin-top: 35px;
    &__groupname{
      font-size: 20px;
      color: #333333;
      justify-content: flex-start;
    }
    &__member{
      margin-top: 15px;
      font-size: 12px;
      color: #999999;
      display: flex;
    }
  }
  &__edit{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 28px;
    color: #38aef0;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
  }
}
.maincontents{
  background-color: #fafafa;
  padding: 0 40px;
  height: calc(100vh - 180px);
  color: #434A54;
  overflow: auto;
  &__toptext{
    padding-top: 46px;
    display: flex;
    &__left{
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    }
    &__right{
      font-size: 12px;
      color: #999999;
    }
  }
  &__bottomtext{
    font-size: 14px;
    margin-top: 10px;
  }
}
.messageform{
  background-color: #ddd;
  padding: 20px 40px;
  height: 40px;
  &__input{
    font-size: 16px;
    color: #434A54;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    float: left;
    width: calc(100% - 150px);
  }
  &__image{
    position: absolute;
    bottom: 27px;
    right: 160px;
    padding-right: 25px;
    &__file{
      display: none;
    }
 }
  &__submit{
    background-color: #38AEF0;
    color: #FFFFFF;
    border: none;
    width: 100px;
    float: right;
    height: 40px;
    margin-left: 20px;
    padding: 0 30px;
  }
}

.form__mask__image{
  color: #fff;
}