@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./side_bar";
@import "./main_chat";
@import "modules/user";


.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;
}
